/* --- Ads & Skeleton --- */
div#home-page-skeleton,

/* HIDE THE FOLLOWING */

/* Shorts Button on Sidebar*/
html[hide_shorts=true] .yt-simple-endpoint[title=Shorts],

/* Regular-list shorts search results */
html[hide_shorts=true] ytd-video-renderer:has(a[href*="/shorts/"]),

/* Grid shorts search results */
html[hide_shorts=true] .ytGridShelfViewModelHost:has(.shortsLockupViewModelHost),

/* homepage shorts grid */
html[hide_shorts=true] ytd-rich-section-renderer:has(ytd-rich-shelf-renderer[is-shorts]),


/* Guide-style shorts on recommnedations panels of video */
html[hide_shorts=true] ytm-reel-shelf-renderer,
html[hide_shorts=true] ytd-reel-shelf-renderer,



/* html[hide_shorts=true] ytd-rich-grid-renderer[is-shorts-grid] */
/* html[hide_shorts=true] yt-tab-shape[tab-title=Shorts], */
/* html[hide_shorts=true] #player-shorts-container, */
/* html[hide_shorts=true] .ytd-shorts, */
/* html[hide_shorts=true] ytd-compact-video-renderer:has(a[href*="/shorts/"]), */
/* html[hide_shorts=true] ytd-notification-renderer:has(>a[href^="/shorts/"]), */
/* html[hide_shorts=true] ytd-rich-item-renderer:has(a[href*="/shorts/"]), */
/* html[hide_shorts=true] ytd-rich-shelf-renderer[is-shorts], */
/* html[hide_shorts=true] ytm-rich-grid-renderer.is_shorts, */
/* html[hide_shorts=true] ytm-video-with-context-renderer:has(a[href*="/shorts/"]) */


/* Target the second chip in filter bar (Shorts chip) */
html[hide_shorts=true] yt-chip-cloud-renderer yt-chip-cloud-chip-renderer:nth-child(2) {
    display: none !important;
}

/* 1. Hide only visible home feed */
html[minimal_homepage=true] ytd-browse[page-subtype="home"] #contents {
    display: none !important;
}

html[minimal_homepage=true] #chips-wrapper {
    display: none !important;
}

/* Center the #center element when both attributes are present */
html[minimal_homepage=true][is_home=true] #center:has(yt-searchbox) {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 45%;
}

/* Hide the logo by default */
.homeCenterLogo {
    display: none;
}

/* Show and position the logo when both attributes are present */
html[minimal_homepage=true][is_home=true] .homeCenterLogo {
    display: block;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%, -100%);
    height: 8rem;
}


/* Hide Home button if redirect */
html[redirect_home=true] .yt-simple-endpoint[title=Home]{
    display: none !important;
}

/* Hide sidebar recommendations - on playlist pages, only hide children except playlist panel */
html[hide_sidebar_recommendations=true][is_playlist=true] #secondary-inner > *:not(ytd-playlist-panel-renderer#playlist) {
    display: none !important;
}

/* Hide sidebar recommendations - on non-playlist pages, hide entire secondary */
html[hide_sidebar_recommendations=true][is_playlist=false] #secondary.ytd-watch-flexy {
    display: none !important;
}

/* Hide blocked channels */
html[block_channels="true"] ytd-video-renderer[block_channel="true"],
html[block_channels="true"] yt-lockup-view-model[block_channel="true"],
html[block_channels="true"] ytd-rich-item-renderer[block_channel="true"] {
    display: none !important;
}